body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    background-size: cover;
    background-attachment: fixed;
}


.link {
    color: inherit; /* Maintain the default text color */
    text-decoration: none; /* Remove underline */
  }
  